<header>
  <h1>Todo List</h1>
</header>
<div class="container">
  <div class="inp">
    <form (ngSubmit)="onItem()" [formGroup]="itemForm">
      <input
        type="text"
        placeholder="Enter An Item Name"
        formControlName="item"
      />
      <input type="hidden" formControlName="ischeck" />
      <button [disabled]="itemForm.invalid" type="submit">
        {{ itemIndex !== null ? "Update" : "Add" }}
      </button>
      <button
        (click)="close()"
        style="background: #dd4b59"
        *ngIf="itemIndex !== null"
      >
        Cancel
      </button>
    </form>
  </div>
  <div class="todo" *ngFor="let item of items; let i = index">
    <div class="box">
      <button
        class="check"
        [ngClass]="{ active: item.ischeck }"
        (click)="toggle(i)"
      >
        <i class="fa-solid fa-check"></i>
      </button>
      <p [ngClass]="{ check: item.ischeck }">{{ item.item }}</p>
      <div class="btns">
        <button (click)="edit(i)"><i class="fa-solid fa-pencil"></i></button>
        <button (click)="del(i)"><i class="fa-solid fa-trash-can"></i></button>
      </div>
    </div>
  </div>
  <div class="allBtns" *ngIf="items.length > 0">
    <button (click)="selAll()">Select All</button>
    <button (click)="delAll()">Delete All</button>
    <button (click)="deSelAll()">Deselect All</button>
  </div>
</div>
